* {
    margin: 0;
    padding: 0;
    user-select: none;
}

.treeParent {
    /* display: inline-block; */
}

.treeParent .treeFilterContainer {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.treeParent #treeNoData {
    margin-left: 20px;
    margin-top: 20px;
}

.treeParent .treeFilterContainer #treeFilter {
    padding: 0 5px;
    width: 200px;
    height: 26px;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 2px;
    outline: none;
}

.treeParent .treeNode{
    position: relative;
    height: 30px;
    line-height: 30px;
    display: flex;
    left: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    transition: .3s;
}

.treeParent .spreadNode::before,
.treeParent .shrinkNode::before {
    position: absolute;
    left: -12px;
    top: 12px;
    display: block;
}

.treeParent .treeNode::before {
    display: block;
    width: 7px;
    height: 8px;
    content: "";
}

.treeParent .spreadNode::before {
    background: url("../img/delta.png");
    transition: .5s;
    transform-origin: 50% 50%;
    background-size:cover;
}

.treeParent .shrinkNode::before {
    transform: rotate(90deg);
    background: url("../img/delta.png");
    transition: .5s;
    transform-origin: 50% 50%;
    background-size:cover;
}

.treeParent .treeNode .treeAppendText,
.treeParent .treeNode .treeDeleteText {
    margin-left: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: .5s;
}

.treeParent .treeNode .treeAppendText:hover,
.treeParent .treeNode .treeDeleteText:hover {
    color: rgb(64, 158, 255);
}

.treeParent .treeChild {
    padding-left: 20px;
    border-left: 1px solid black;
    overflow: hidden;
    height: auto;
    transition: .3s;
}

.treeParent>.treeChild {
    border-left: 0px;
}

.treeChild .treeCheckbox {
    position: relative;
    top: 10px;
    margin-right: 5px;
    margin-left: 5px;
}